database: 
  database: <database>
  hostname: '127.0.0.1'
  password: <pass>
  port: '3306'
  username: <user>
locations: 
  input: /home/ahref/input/
  output: /var/www/api/public/mods/
options: 
  force_generate: false
  update_database: true